*{margin:0;padding:0;}
ul{list-style:none;}
.y-menu{
    width:100vw;
    height:100vh;
}
.y-top{
    width:100vw;
    height:60px;
    background-color:#24292e;
    display:flex;
    justify-content:space-around;
    align-items:center;
}
.y-title{
    color:white;
    font-size:24px;
}
.y-cloumn{
    font-size:20px;

}
.y-cloumn a{
    text-decoration:none;
    color:blue;
}
.y-cloumn li{
    width:auto;
    float:left;
    margin-left:20px;

}
.y-cloumn a:hover{
    color:white;
    background-color: #808080;
}
.content{
    width:45vw;
    height:800px;
    margin:40px auto;
    
    
}
.item{
    display:flex;
    justify-content:space-around;
}


